<!-- app.components html template in which values from component and input values are two way binded-->
<section class="container col-md-6 col-md-offset-3">
  <h2>Registration form</h2>
  <form class="form-inline">
    <div class="form-group">
      <label for="inputText1">Name</label>
      <input type="text" class="form-control" #firstname id="inputText1" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="inputText2">Last Name</label>
      <input type="text" class="form-control" #lastname id="inputText2" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}">
    </div>
    <!-- form-group ends here -->
    <button type="submit" class="btn btn-default" (click)="printDetails(firstname, lastname, $event)">Register</button>
    <!-- hidden property bound to clicked property of app component class -->
    <p class="bg-primary" [hidden]="clicked">{{title}}</p>
  </form>
</section>
